[Unit]
Description=RFID Library Scanner Service
After=network.target

[Service]
ExecStart=/home/pi/rfid-library-system/venv/bin/python3 /home/pi/rfid-library-system/raspberry_pi/rfid_scanner.py
WorkingDirectory=/home/pi/rfid-library-system/raspberry_pi
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
